/*Mobile small*/
@media only screen and (min-width: 320px) 
{
   .Equation {
      font-size: 24px;
      font-weight: bold;
      padding: 0px 0px 25px 0px;
   }
   .CalculateButton {
      width: 30vw;
      text-align:center;
   }
}

/*Mobile medium*/
@media only screen and (min-width: 375px) 
{
    .Equation {
        font-size: 28px;
        font-weight: bold;
        padding: 0px 0px 25px 0px;
     }

    .FieldSectionSingle {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        box-sizing: border-box;
    }
    .FieldSectionSingleName {
        width:100vw;
        justify-self: left;
        font-size: 16px;
        font-weight: bold;
    }
    .FieldSectionSingleInput {
        width: 45vw;
        height: 40px;
        font-size: 12px;
        padding: 0px 0px 0px 0px;
        margin-right: 5px;
        margin-left: 5vw;
        border: 1px solid #000;
        border-radius: 5px 5px 5px 5px;
    }
    .FieldSectionSingleUnitContainer {
        display: flex;
        justify-content: left;
        width: 40vw;
        height: 40px;
        margin-right: 5vw;
        font-size: 28px;
    }
    .UnitBoxSetOne {
        .react-select__control {
            height: 40px;
            width: 60px;
            border: 1px solid #000;
        }
        .react-select__value-container {
            font-size: 12px;
            padding: 0px 0px 0px 0px;
        }
        .react-select__indicators {
            .react-select__indicator-separator {
                background-color: #000;
                padding: 0px 0px 0px 0px;
                height: 80%;
                margin-top: 20%;
                width: 1px;
            }
            .react-select__dropdown-indicator {
                padding: 0px 0px 0px 0px;
                color: #000;
            }
        }        
    }
}

/*Mobile large*/
@media only screen and (min-width: 425px) 
{
    .CalculateButton {
        width: 100px;
        font-size: 16px;
    }
    .FieldSectionSingle {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        box-sizing: border-box;
    }
    .FieldSectionSingleName {
        width:25vw;
        justify-self: left;
        padding: 0px 0px 0px 0px;
        font-size: 16px;
        margin-left: 0vw;
        margin-right: 0vw;
        font-weight: bold;
    }
    .FieldSectionSingleInput {
        width: 40vw;
        height: 40px;
        font-size: 16px;
        padding: 0px 0px 0px 5px;
        margin-right: 0vw;
        margin-left: 0vw;
        border: 1px solid #000;
        border-radius: 5px 5px 5px 5px;
    }
    .FieldSectionSingleUnitContainer {
        display: flex;
        justify-content: left;
        width: 34vw;
        height: 40px;
        margin-right: 0vw;
        font-size: 28px;
    }
    .UnitBoxSetOne {
        .react-select__control {
            height: 40px;
            width: 65px;
            border: 1px solid #000;
        }
        .react-select__value-container {
            font-size: 16px;
            padding: 0px 0px 0px 0px;
        }
        .react-select__indicators {
            .react-select__indicator-separator {
                background-color: #000;
                padding: 0px 0px 0px 0px;
                height: 80%;
                margin-top: 20%;
                width: 1px;
            }
            .react-select__dropdown-indicator {
                padding: 0px 0px 0px 0px;
                color: #000;
            }
        }        
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) 
{
    .FieldSectionSingle {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        box-sizing: border-box;
    }
    .FieldSectionSingleName {
        width:25vw;
        justify-self: left;
        padding: 0px 0px 0px 0px;
        font-size: 20px;
        margin-left: 0vw;
        margin-right: 0vw;
        font-weight: bold;
    }
    .FieldSectionSingleInput {
        width: 40vw;
        height: 40px;
        font-size: 20px;
        padding: 0px 0px 0px 5px;
        margin-right: 0vw;
        margin-left: 0vw;
        border: 1px solid #000;
        border-radius: 5px 5px 5px 5px;
    }
    .FieldSectionSingleUnitContainer {
        display: flex;
        justify-content: left;
        width: 34vw;
        height: 40px;
        margin-right: 0vw;
        font-size: 28px;
    }
    .UnitBoxSetOne {
        .react-select__control {
            height: 40px;
            width: 70px;
            border: 1px solid #000;
        }
        .react-select__value-container {
            font-size: 20px;
            padding: 0px 0px 0px 0px;
        }
        .react-select__indicators {
            .react-select__indicator-separator {
                background-color: #000;
                padding: 0px 0px 0px 0px;
                height: 80%;
                margin-top: 20%;
                width: 1px;
            }
            .react-select__dropdown-indicator {
                padding: 0px 0px 0px 0px;
                color: #000;
            }
        }        
    }
}


/*Laptops*/
@media only screen and (min-width: 1024px)
{
    .CalculateButton {
        width: 200px;
        font-size: 24px;
    }
    .FieldSectionSingle {
        display: flex;
        flex-flow: row wrap;
        justify-content:space-between;
        box-sizing: border-box;
    }
    .FieldSectionSingleName {
        width:25vw;
        justify-self: left;
        padding: 0px 0px 0px 0px;
        font-size: 20px;
        margin-left: 0vw;
        margin-right: 0vw;
        font-weight: bold;
    }
    .FieldSectionSingleInput {
        width: 40vw;
        height: 40px;
        font-size: 20px;
        padding: 0px 0px 0px 5px;
        margin-right: 0vw;
        margin-left: 0vw;
        border: 1px solid #000;
        border-radius: 5px 5px 5px 5px;
    }
    .FieldSectionSingleUnitContainer {
        display: flex;
        justify-content: left;
        width: 34vw;
        height: 40px;
        margin-right: 0vw;
        font-size: 28px;
    }
    .UnitBoxSetOne {
        .react-select__control {
            height: 40px;
            width: 70px;
            border: 1px solid #000;
        }
        .react-select__value-container {
            font-size: 20px;
            padding: 0px 0px 0px 0px;
        }
        .react-select__indicators {
            .react-select__indicator-separator {
                background-color: #000;
                padding: 0px 0px 0px 0px;
                height: 80%;
                margin-top: 20%;
                width: 1px;
            }
            .react-select__dropdown-indicator {
                padding: 0px 0px 0px 0px;
                color: #000;
            }
        }        
    }
}


/* 4K 2560px */

/* 4K 2560px */
@media only screen and (min-width: 2560px)
{


   button {
      width: 300px;
      height: 75px;
      font-size: 50px;
   }
   p {
      font-size: 50px;
   }
}