
.FieldErrorDescription {
    background-color: transparent;
    color: #FF0000;
    border: none;
    width: 95vw;
    height: 20vw;
    text-align:left;
    overflow-y: hidden;
}

.FieldErrorDescription:focus {
    outline: none;
}

@media only screen and (min-width: 320px) 
{
    .FieldErrorDescription {
        font-size: 16px;
    }
}

/*Mobile medium*/
@media only screen and (min-width: 375px) 
{
    
}

/*Mobile large*/
@media only screen and (min-width: 425px) 
{
    .FieldErrorDescription {
        font-size: 16px;
        height: 10vw;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) 
{
    .FieldErrorDescription {
        font-size: 20px;
        height: 10vw;
    }
}

/*Laptops*/
@media only screen and (min-width: 1024px)
{
    .FieldErrorDescription {
        font-size: 24px;
        height: 10vw;
    }
}

/* 4K 2560px */
